body{
  background: #191919 !important;
}

.heading{
  padding-top: 200px;
  font-family: 'Anton', sans-serif;
  color: white;
}

#header{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-align: left;
}
#lower, #para{
  font-style: normal;
  font-family: sans-serif !important;
  color: #BDC4BD;
}
.btn.btn-success{
  font-style: normal;
  font-family: sans-serif !important;
  color: #08fdd8;
  border-color: #08fdd8;
  margin: 10px 0px;
  background: #191919;
}

.body{
  margin-left: 10px !important;
}

#about{
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  text-align: left;
  color: #08fdd8;
}


#loading:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background:#000;
	cursor: pointer;
}

.
